.footer {
  height: 1vw;
  width: 100%;
  display: flex;
  .options1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    cursor: pointer;

    .option {
      padding: 10px 15px;
    }
  }
  .options2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    cursor: pointer;

    .option {
      padding: 10px 15px;
    }
  }  
}
