.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 5%;
      width: 7%;
      padding: 10px;
    }
  
    .options {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: 300;
      font-size: large;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  